*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
body{
    background-color: #F7F9F9;
}
.content_list{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #333;
}
li{
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
 /* de aca para arriba tenemos el css para el header */
.content_form{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    padding: 30px;
    background-color: #dddddd;
    justify-content: space-between;
    border-radius: 24px;
    min-height: 400px;
}
.sections{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 10px;
}
._rows{
    display: flex;
    flex-direction: row;
}
._cols{
    display: flex;
    flex-direction: column;
}
.passwd_forget{
    text-decoration: underline;
    color: #111;
    padding: 10px;
    font-size: 12px;
}
.buttons{
    padding: 10px;
    text-align: center;
    background-color: #111;
    color: #ddd;
    border-radius: 10px;
    border: 0;
}

/* de aca tenemos los estilos de nueva tarea */
/* Estilos generales */
.containerdetails {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    border-radius: 8px;
}

/* Título */
.titledetails {
    text-align: center;
    font-size: 2.5rem;
    color: #4c4f5c;
    margin-bottom: 2rem;
    animation: fadeIn 1s ease-out;
}

/* Detalles de la tarea */
.task-details {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1.5s ease-out;
}

.task-details h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

.task-details p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1rem;
}

/* Importante */
.importantdetails {
    font-weight: bold;
    color: #e74c3c; /* Rojo para indicar que es importante */
}

/* Color de Banner */
.banner-colordetails {
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
}

.banner-colordetails span {
    font-size: 1.1rem;
    color: #fff;
}

/* Enlace de regreso */
.back-linkdetails {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    color: #3498db;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

.back-linkdetails:hover {
    color: #2980b9;
    text-decoration: underline;
}

/* Animaciones */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
