*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}
body{
    background-color: #F7F9F9;
}
.content_list{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    background-color: #333;
}
li{
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
li:hover{
    background-color: rgba(0, 0, 0, 0.5);
}
 /* de aca para arriba tenemos el css para el header */
.content_form{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    padding: 30px;
    background-color: #dddddd;
    justify-content: space-between;
    border-radius: 24px;
    min-height: 400px;
}
.sections{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-content: center;
    gap: 10px;
}
._rows{
    display: flex;
    flex-direction: row;
}
._cols{
    display: flex;
    flex-direction: column;
}
.passwd_forget{
    text-decoration: underline;
    color: #111;
    padding: 10px;
    font-size: 12px;
}
.buttons{
    padding: 10px;
    text-align: center;
    background-color: #111;
    color: #ddd;
    border-radius: 10px;
    border: 0;
}