<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django</title>
</head>
<body>
    <nav>
        <header>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/tasks">Tasks</a></li>
                {% if user.is_authenticated %}
                <li><a href="/logout">Logout</a></li>
                {% else %}
                <li><a href="/signup">Signup</a></li>
                {% endif %}
            </ul>
        </header>
    </nav>

    {% block content %}
    {% endblock %}


</body>
</html>