{% extends 'base.html' %}

{% block content %}
<h1>home</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate, dolorum debitis, illum odit in laudantium optio pariatur ab recusandae facilis ducimus harum dolorem assumenda itaque numquam facere nulla. Possimus dignissimos saepe impedit nobis, consequuntur totam consectetur, libero voluptatum quidem dolores quis? Sunt veniam deserunt voluptatibus doloribus quod, consequatur laboriosam velit quas ducimus, debitis animi molestiae ea tempora dolorum explicabo ullam nobis laborum sequi dignissimos natus? Tempora eveniet laudantium temporibus consequuntur? Labore quas impedit, possimus dolore eveniet tempora nemo numquam consequatur, dignissimos necessitatibus ea mollitia deserunt, ab modi a ducimus ad illo commodi quidem maxime repudiandae voluptas? Non autem possimus suscipit.</p>
{% endblock %}