{% extends 'base.html' %}

{% block content %}
<form action="POST" class="content_form">

    <h3>Log In</h3>
    <label for="">Insert your credentials to access your account.</label>
    <div class="_cols">
        <label for="id_logueado">Username</label>
        <input class="inputs" type="text" name="log" placeholder="Your username">
        <label for="id_passwd">Password</label>
        <input class="inputs" type="password" name="password_1" placeholder="Your password">
    </div>
    <div class="_rows">
        <a href="/forget-password" class="passwd_forget">Did you forget your password?</a>
        <input type="submit" class="buttons" value="Log In">
    </div>
</form>
{% endblock %}